h1 {color:  #800020;
font-size: 60px;   
font:small-caps bold 40px/1.5 "Arial", sans-serif;
text-align: center;
margin-bottom: 10px;
}
h2 {color: darkolivegreen ;
font-size: 36px;
text-align: center;
}

h3 {color:  #A07800;
font-size: 30px;
text-align: left;
}
h4 {color:  #D4A017;
font-size: 24px;    
text-align: left;
}
p  {color:  #4B3621;
font-size: 20px;
text-align: justify;
}

body {background-color:  #CBBDA3;
}
ol  {color:  #4B3621;
font-size: 20px;    
text-align: justify;
}
ul  {color:  #4B3621;
font-size: 20px;
text-align: justify;
}
.box {
  border: 2px solid #A07800;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #F5F5DC;
}
.box {
    width: 30%;
    border: 3px solid #A07800;   /* dark olive green */
    padding: 15px;
    margin: 15px auto;
    background-color: #f6f6f3;   /* optional light background */
    box-sizing: border-box;
}
aside {
    width: 25%;
    float: right;
    border: 3px solid #556B2F;   
    padding: 15px;
    margin: 15px;
    background-color: #f6f6f3;   
    box-sizing: border-box;
}
footer {
    width: 100%;
    background-color: #556B2F;   
    padding: 10px 0;
    text-align: center;         
    font-size: 0.8rem;           /* small text */
    color: white; 
    clear: both;                 
}